.form-control:focus{
    box-shadow : 0px 0px 0px 0px #fff !important;
}

.drop-item{
   height: 40px;
   width: 40px;
   background-color: inherit;
   padding:10px;
   margin:0px;
   border-radius: 50%;
}

.drop-item:hover{
    background-color: rgb(59, 60, 65) !important;
    border-color:rgb(59, 60, 65) !important;
}

.dropdown-toggle::after {
   border:0px;
   margin:0px;
}

.form-control-text{
    color: white !important;
    font-size: 14px !important;
    font-weight: 400px !important;
    border: none !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    height: 56px;
    line-height: 1.6 !important;
    resize: none !important;
    max-height: 230px !important;
}


textarea::-webkit-scrollbar {
    width:6px !important;
    height: 6px !important;
    background-color: black !important;
    border-radius: 12px 12px 12px 12px;
}
textarea::-webkit-scrollbar-thumb {
	border: 6px solid rgb(78, 79, 85);
	background: rgb(74, 75, 82);
	border-radius: 12px 12px 12px 12px;
	margin: 0px auto;
}